
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-10 col-lg-offset-1">
        <h2>A Evolução das Ferramentas de E-commerce</h2>

        <img src="~/Assets/ferramentas-de-e-commerce.jpg" />

        <p>
            Com o avanço acelerado das transações online nos últimos anos, tem se verificado um aumento
             substancial de ferramentas de e-commerce. Surgem cada vez mais empresas com soluções sofisticadas,
             desde a oferta de plataformas prontas para transações online, até meios de pagamentos mais acessíveis 
            para quem está começando a operar neste ambiente, com custos bastante reduzidos e soluções que
             reduzem a desistência de compra do consumidor, seja pela facilidade do processo no ato da compra,
             seja pelas alternativas e benefícios adicionais que são oferecidos ao cliente para concretizar a
             transação.
        </p>
        <p>
            Neste sentido, algumas empresas oferecem soluções de assinaturas para e-commerce, onde consumidores
         podem realizar suas compras e ao final do período recebe um relatório com a fatura das compras efetuadas
         e descontos. Outra solução bastante útil é a retentativa, onde as vendas não autorizadas são processadas
         novamente em múltiplas operadoras de cartões.          
        </p>
        <p>
            A solução de criação de wallet de pagamento também tem facilitado bastante as transações. Os dados 
        dos clientes são armazenados para que em sua próxima compra não precise digitalizar seus dados, permitindo
         vendas em apenas um clique. Tudo isso vem sendo cada vez mais amparado por ferramentas de segurança 
        com certificados que garantem o trafego de informações sem se preocupar com vulnerabilidades e falhas 
        de segurança.
        </p>
        <p>
                Outra alternativa que tem aumentado o número de conversões é a possibilidade de compras em grupo,
         onde os clientes podem dividir o valor de uma comprar entre diversos compradores. Além de fomentar 
        a compras de itens mais valiosos, diminui a desistência em razão de limites de crédito ou valor de 
        transação não autorizada pelo cartão.        </p><p>
        </p>
        <p>
            Nota-se que estas são apenas algumas das diversas ferramentas que hoje são oferecidas por empresas
         do setor. O mercado de varejo vem crescendo a cada ano e todas estas soluções vem contribuindo para 
        que novos varejistas de lojas físicas comecem um processo de migração para o ambiente online.         
         </p>
    </div>
</div>

