
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-10 col-lg-offset-1">
        <h2>O Sucesso dos e-commerces em datas especiais</h2>

        <img src="~/Assets/black-friday.jpg" />

        <p>
            O setor de de e-commerce tem suas características como por exemplo não possuem

            lojas físicas, não fecham, trabalham com custos menores e também é um dos setores que

            andou sentido contrário a crise e cresceu no último ano de 2016. Mesmo com suas diferenças

            em relação ao mercado de varejo convencional o setor de e-commerce vem ganhando força

            em datas sazonais como Black Friday, que acontece no dia 25 de novembro e o Dia do

            Consumidor, que acontece no dia 15 de março seguido também por datas como Dia das Mães

            e Dia dos Namorados que também são datas comemoradas em varejo convencional.
        </p>

        <p>
            Desde 2007 o Black friday foi copiado e adaptado do mercado americano para o Brasil,

            porém somente em 2012 o feriado ganhou força de maior variedade de lojas que chegaram até

            ter sites com problemas devido ao alto tráfego de usuários. A força que o Black friday está

            ganhando no calendário do brasileiro pode ser representada pelo aumento de faturamento em

            17% no ano de 2016 em relação a 2015, totalizando um faturamento de 1,9 bilhões de reais,

            este aumento acontece por alguns fatores como aumento do ticket médio 13% maior do que o

            ano de 2015, o aumento em 5% de pedidos e considerando também as mudanças nos hábitos

            dos e-consumidores brasileiros, pegando o costume de comprar online, adquirindo

            smartphones e efetuando compras online, dado que pode refletir parte disso é o aumento de e-
            consumidores ativos onde de 2015 para 2016 tivemos o aumento de 22% o que representa 48

            milhões de consumidores fizeram pelo menos uma compra em algum e-commerce em 2016,

            segundo a pesquisa do Ebit.


        </p>

        <p>
            Outra data sazonal que vem ganhando força em nosso calendário é o dia do

            consumidor, que acontece 15 de março, para esta data a Ebit tinha feito a previsão de aumento

            de 18% em relação a 2016, o aumento também é acompanhado pela alavancagem de número

            de pedidos e o tíquete médio.
        </p>

        <img src="~/Assets/diainterenacionalconsumidor.gif" />

        <p>
            Mais um dado que devemos ter atenção é o número de reclamações em sites como

            Reclame Aqui, que em 2015 contabilizou 4.400 reclamações na Black Friday, cerca de 9,1%

            alegavam ter dificuldade para fechar a compra.

        </p>
        <p>

            Isto nos leva a ter mais atenção e planejamento em datas sazonais como essas, visto

            que o faturamento tende a subir e é importante levar em consideração o aumento da população

            ativa que deve estar no processo de compra nessas datas este ano de 2017.
        </p>


        Fontes:
        <a href="https://www.ecommercebrasil.com.br/noticias/vendas-de-commerce-dia-do-consumidor-2017/" target="_blank">
        Ecommerce Brasil,
        </a>
        <a target="_blank" href="http://computerworld.com.br/uma-breve-historia-do-e-commerce">
            Computer World,
        </a>
        <a target="_blank" href="http://www.ebit.com.br/webshoppers">
            Webshoppers
        </a>



    </div>

</div>

