
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-10 col-lg-offset-1">
        <h2>Por que muitas lojas físicas ainda não vendem online?</h2>

        <img src="~/Assets/e-commerce-ou-loja-fisica.jpg" />

        <p>
            Apesar do crescimento consistente do e-commerce no Brasil, com o país ocupando o quinto lugar
            do mundo em compras pela internet, ainda é grande o número de lojas que não possui uma plataforma
            de vendas online.
        </p>
        <p>
            Mas por que isto ocorre?
        </p>
        <p>
            De acordo com pesquisas de mercado, a falta de informação e a percepção de que a montagem de
            um e-commerce é bastante complexa tem evitado com que muitos varejistas migrem para este ambiente.
        </p>
        <p>
            De acordo com Dailton Felipini, professor de comércio eletrônico na Universidade Mackenzie (SP),
            os preços podem variar de acordo com as funções disponibilizadas.
        </p>
        <p>
            Assim, para uma plataforma com soluções básicas, os preços iniciam aproximadamente a partir de
            R$2,5 mil, acrescidos de R$60 para hospedagem. Para soluções mais robustas, estes preços iniciam
            com R$4,5 mil, acrescidos de R$500 por mês de hospedagem. Estas variações de preços dependerão do
            posicionamento da empresa no mercado, de concorrentes, relação de fornecedores e perfil do cliente.
            Os preços podem aumentar se a empresa quiser disponibilizar canais de relacionamento com o consumidor.
        </p>
        <p>
            Também é importante que o e-commerce tenha um bom design, que consiga montar uma plataforma limpa,
            simples e intuitiva. Os produtos devem conter informações completas e com imagens de boa qualidade,
            bem como a navegação deve ser de fácil usabilidade e navegabilidade.
        </p>
        <p>
            Por fim, existem 5 funções básicas em todo e-commerce: um gerente, um web designer, um programador,
            um assistente operacional e um analista de marketing.
        </p>
        <p>
            Também é preciso ter um endereço online e registrá-lo no www.registro.com. O custo de um domínio
            é de aproximadamente R%50.
        </p>
        <p>
            Alternativamente, pode-se contratar um provedor de domínios (Locaweb, Yahoo, Terra), que além de
            fornecer o domínio, também garantem a hospedagem do seu site. Se tudo parecer muito complexo, contrate
            uma empresa para desenvolver sua loja virtual. Por fim, a marca deve ser registrada no INPI
            (<a href="http://www.inpi.gov.br">www.inpi.gov.br</a>)
        </p>
        <p>
        </p>
        <p>
            Se você pretende ter um site adequado, com todas as ferramentas necessárias, conferindo uma boa
            qualidade ao seu e-commerce, você gastará entre R$ 20 mil e R$30 mil.
        </p>
        <p>
            Também é importante que o e-commerce tenha um bom design, que consiga montar uma plataforma limpa,
            simples e intuitiva. Os produtos devem conter informações completas e com imagens de boa qualidade,
            bem como a navegação deve ser de fácil usabilidade e navegabilidade.
        </p>
    </div>
</div>

