
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-10 col-lg-offset-1">
        <h2>O Sucesso dos e-commerces em datas especiais</h2>

        <img src="~/Assets/black-friday_aj6s.jpg" />

        <p>


        </p>


        <a href="http://www.fecomercio.com.br/public/upload/editor/pdfs/webshoppers_35_edicao.pdf" target="_blank">
            Relatório Webshoppers 2017 no site da FECOMERCIO
        </a>



    </div>

</div>

