
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-10 col-lg-offset-1">
        <h2>Tendências do E-commerce</h2>

        <img src="~/Assets/tendencias-do-e-commerce.jpg" />

        <p>
            Com o mercado online no sentido contrário da crise, apresentando um crescimento nominal de

            7,4% no ano de 2016 e com a renda média dos consumidores online tendo uma alta de 6% é

            de grande importância começar a ter olhos para o que está por vir em 2017.
        </p>
        <p>
            Como ainda não é prevista uma grande retomada da economia no Brasil, em tempos de crise e

            com o orçamento mais apertado, é normal os consumidores estudarem mais antes de realizar

            alguma compra. O E-commerce tende a se fortalecer nesses momentos, visto que existe uma

            possibilidade de comparação de preços. E com o acesso a revisão de consumidores online, o

            consumidor se sente mais seguro para efetivar uma compra.
        </p>
        <p>
            Segundo a Ebit, responsável por realizar pesquisas e criar panoramas no setor de E-
            commerce, no ano de 2017 este segmento tende a caminhar no sentido contrário de muitos

            outros setores, ou seja, com uma projeção de crescimento nominal de 12% neste ano. Referido

            crescimento provém do aumento de preços e da participação de produtos de valor mais alto

            como eletrodomésticos, smartphones, casa e decoração e até mesmo peças e acessórios para

            carros.
        </p>

        <img src="~/Assets/evolucao_mobile_ecommerce.jpg" />


        <p>
            Com essa mudança de hábito dos consumidores em estudarem suas opções, e com o

            aumento da compra de smartphones - que também são responsáveis por uma grande

            participação nas vendas online - espera-se um crescimento nas vendas online para o ano de

            2017 na ordem de 32%. O aumento do conhecimento dos empresários e consumidores sobre

            o varejo online, e em meio a um cenário de crise e inflação, há uma expectativa no aumento da

            representatividade de vendas do varejo no Brasil, que pode chegar a 4,8% em 2017.
        </p>
        <p>
            Outra mudança no hábito dos consumidores brasileiros de E-commerce é a preferência por comprar em
            sites internacionais. No ano de 2016 tivemos um aumento de 17%, o que resulta no gasto de U$2,4
            bilhões em sites fora do Brasil. Um dos principais motivos para a preferências dos brasileiros por
            sites de fora do país é o preço mais baixo na comparação com o similar nacional.
        </p>
        <p>
            O preço é um
            fator decisivo nas compras online! Outro motivo que leva a este aumento é que muitos webshoppers
            dizem que uma enorme quantidade de produtos não estavam presentes em sites nacionais. Os sites
            líderes para os brasileiros são: Aliexpress, Amazon, Ebay, Dealextreme e Apple, segundo a pesquisa
            Cross Border, realizada pela Ebit com o objetivo de entender o comportamento do nosso consumidor.
        </p>
        <p>
            A mesma pesquisa nos traz a mudança nas categorias compradas online, nos sites internacionais
            no ano de 2016. Categorias como moda e acessórios e livros tiveram queda, pois o consumidor do
            Brasil está preferindo comprar estes produtos localmente em razão da comodidade. Outra queda é
            no setor de informática em decorrência  do aumento no uso de smartphones (mesmo assim esta categoria
            continua em segundo no ranking). Mas uma tendência que vem fortemente crescendo é a compra de
            acessórios automotivos, cujo aumento decorre da retração na venda de veículos novos e preferência
            do consumidor em recorrer à manutenção na frota de automóveis.
        </p>

        <img src="~/Assets/5-2-480x453.jpg" />
        <p>
            As mudanças de hábito não acontecem apenas com consumidores. Por parte dos comerciantes também existe
            a tendência de migração para o varejo online. Um grande exemplo disto foi a Macys, loja de varejo
            dos EUA que em janeiro de 2017 fechou cerca de 68 lojas e, atualmente, está focando em melhoria
            de suas lojas online. Um estudo realizado pela CoStar Group diz que cerca de 92 milhões de metros
            quadrados poderiam estar fechando este ano, revelando que não só a Macys, mas também outras empresas
            estão migrando para o varejo online, a exemplo da Sears, grande varejista americana.
        </p>
        <p>
            Com esses dados e estudos, podemos notar as mudanças de cenários do comércio varejista, desde
            os produtos que estão sendo comprados, a mudança na forma de efetuar a compra. A a fatores como
            a interação com o cliente, as mudança de hábito, dentre outros fatores, que podem influenciar
            no setor. Vale ressaltar que grandes empresas, como Macys e Sears, depois de tanto tradicionalismo
            em varejo físico e agora migrando para atividades online, pode representar um alerta de que grandes
            empresas também estão atentas ao potencial de mercado a ser explorado via online.
        </p>

        Fontes:
        <a href="http://www.ebit.com.br/webshoppers" target="_blank">Webshoppers,</a>
        <a target="_blank" href="https://economia.uol.com.br/noticias/bloomberg/2017/01/23/crise-do-varejo-pressiona-redes-a-fechar-mais-lojas-nos-eua.htm">
            Economia Uol,
        </a>
        <a target="_blank" href="http://www1.folha.uol.com.br/mercado/2017/01/1847188-apos-queda-nas-vendas-macys-fecha-68-lojas-e-vai-demitir-6200-pessoas.shtml">
            Folha
        </a>

    </div>
</div>

