
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-10 col-lg-offset-1">
        <h2>Varejista: Você já pensou nos benefícios de vender em ambiente online?</h2>

        <img src="~/Assets/beneficios-vender-ambiente-online.jpg" />

        <p>
            No último relatório Web Shoppers, foi divulgado o crescimento do mercado de vendas online.
            Os números apontam para um crescimento nominal anual de 7,4% em 2016.
        </p>
        <p>
            Mesmo com a crise atual, o e-commerce continua a apresentar crescimento consistente ano após ano.
            Na contramão, o comércio varejista de lojas físicas teve um recuo de 10% em 2016, o que
            reforça a tendência de migração do ambiente offline para o online, bem como a redução
            substancial de custos. Isto se deve à diferença de preços praticados entre os dois ambientes.
        </p>
        <p>
            Em 2016, foi registrado no Brasil o número recorde de 48 milhões de pessoas comprando
            através de e-commerce, o que representa quase 25% da população brasileira.

        </p>
        <p>
            Com a melhoria e recuperação da economia local, a Ebit prevê um crescimento de 12% no
            faturamento de transações online, atingindo o patamar de R$50 bilhões.
        </p><p>
            Acesse agora o conteúdo integral do
            <a href="http://www.fecomercio.com.br/public/upload/editor/pdfs/webshoppers_35_edicao.pdf" target="_blank">
                Relatório Webshoppers 2017 no site da FECOMERCIO
            </a>
        </p>

    </div>

</div>

