<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PagueWay: o seu blog sobre soluções de pagamento</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/styles.min.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/landingPage.css">


</head>
<body>

       <section id="main-section-container">
        <div id="main-section" class="section-content">
            <div class="row">
                <div id="content" class="col-sm-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>
    <footer id="main-footer-container">
        <div id="main-footer" class="section-content">
            <p>© @DateTime.Now.Year PagueWay</p>
        </div>
    </footer>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/scripts.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>